<div *ngFor="let message of messages">
  info{{message}}-{{message?.name}}:{{message?.msg}}
</div>

<popup>
 <!-- <ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)">
 </ss-multiselect-dropdown>
  <form>
    <select multiple [(ngModel)]="optionsModel1" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let user of user_names" [ngValue]="user">{{user.name}}</option>
    </select>
  </form>
-->
  <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems">

  </angular2-multiselect>
</popup>
<input [(ngModel)]="orderMessage" #inputOrder /><button (click)="(room?.inRoom)?sendMessageToRoom():sendMessage()">Send</button>
<button (click)="popupShow()">Добавить пользователей в комнату</button>
<div *ngFor="let user of user_names" (click)="selectedUser(user)">

    {{user?.name}}
  </div>
