<popup (confirmClick)="popupConfirmClick()" #popup_select_user>
  <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedUsers" [settings]="dropdownSettings">
  </angular2-multiselect>
</popup>


<popup #popup_invitation (confirmClick)="popupInvitationConfirmClick()" (cancelClick)="leavingTheRoom(invitation)">
  <div>
    <h5>you are now joined to the room: {{invitation?.room}}</h5>
    <p>if you want to leave click Cancel</p>
    <p>if you want to stay click OK</p>
  </div>
</popup>
<!--=====================================================================================-->
<div class="container" id="container">
  <div class="row">

    <div class="panel-group col-xs-4 col-sm-4 col-md-4 col-lg-4" id="infoUsers">
      <div class="panel panel-primary">
        <div class="panel-heading">Users in Chat</div>
        <div *ngFor="let user of user_names" class="panel-body">
          {{user?.name}}
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">Users in ROOM:</div>
        <div *ngFor="let userInRoom of usersInRoom" class="panel-body">
          {{userInRoom.name}}
        </div>
      </div>
    </div>

    <!--<div
          class="conversation-wrap col-xs-6 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-10 col-lg-5 col-lg-offset-2"
          id="messageBox">-->
      <div *ngFor="let message of messages">
        <div id="massage" class="col-xs-6 col-xs-offset-6 col-md-6 col-md-offset-8 col-lg-10 col-lg-5 col-lg-offset-6">
                <div *ngIf="!message.hasOwnProperty('name')" class="bg-danger">{{message}}</div>
            <div align="top left" id="massageName">{{message?.name}}</div>
          <div class="bg-success" align="center" id="massageMassage">
              {{message?.msg}}
          </div>
        </div>
      </div>
    <!--</div>-->

      <div  id="wrapInputMassage"
            class="col-xs-6 col-xs-offset-6 col-md-6 col-md-offset-8 col-lg-10 col-lg-5 col-lg-offset-6">
        <input [(ngModel)]="orderMessage"  id="inputMassage"
               (keydown.enter)="(invitation?.inRoom)?sendMessageToRoom():sendMessage()" >
        <button (click)="(invitation?.inRoom)?sendMessageToRoom():sendMessage()" class="btn btn-default">Send</button>
      </div>



  </div>
</div>
<!--==============================================================================================-->
<!--<div class="btn-group" align="top right">
  <button class="dropdown-toggle" data-toggle="dropdown">
    Меню<span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><button (click)="popupShow()">Добавить пользователей в комнату</button></li>
    <li><button (click)="leavingTheRoom(invitation)">Leave the Room</button></li>
  </ul>
</div>-->


