#messagebox{

  border: 1px black solid;
  align: center;
  width: 50%;

}
#massage1{

  padding-right: 0px;
  padding-left: 0px;
}
#massage2{
  margin: 0px -15px 0px;
  padding-right: 0px;
  padding-left: 0px;
}
